<main class="container mt-5">
    <h1 class="mb-4">Edit Post</h1>
        <form id="post-title-form" class="mb-3" method="PUT"></form>
    {{!-- <form id="editpost-form" class="dashboard-sign-up-form"> --}}
        <div class="mb-3">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="post-title" placeholder="Post Title" value="{{title}}">
        </div>
        <div class="mb-3">
            <label for="post-content" class="form-label">Content</label>
            <textarea class="form-control" id="post-content" rows="3" placeholder="Post Content">{{content}}</textarea>
        </div>
        <button type="submit"  class="btn btn-primary" id="update-post">Edit Post</button>
        <button type="button" class="btn btn-danger" id="edit-delete-post">Delete Post</button>
</main>