<div class="container mt-5">
<h2 class="mb-4">Create a Post</h2>
<form class="new-post-btn">
    <div class="mb-3">
    <label for="new-post-title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="new-post-title" placeholder="Enter a title for your post"/>
    </div>
    <div class="mb-3">
    <label for="new-post-content" class="form-label">Content:</label>
    <textarea class="form-control" id="new-post-content" rows="5" placeholder="Enter post content here"></textarea>
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
</form>
</div>